* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu-Regular;
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url(Ubuntu\Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url(Ubuntu\Ubuntu-Bold.ttf) format("truetype");
}

@font-face {
    font-family: Bungee;
    src: url(Bungee\Bungee-Regular.ttf) format("truetype");
}

table {
    border-spacing: 5px;
}

td, th {
    background-color: lightgrey;
}

#blank {
    opacity: 0;
}