* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu-Regular;
    font-size: 2vw;
    line-height: 1.8em;
    text-align: justify;
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url(Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url(Ubuntu-Bold.ttf) format("truetype");
}

@font-face {
    font-family: Bungee;
    src: url(Bungee-Regular.ttf) format("truetype");
}

body {
    background-color: #ffffff;
}

header {
    background-image: url(fondoheader.jpg);
}

.header {
    background-color: rgba(0, 0, 0, .5);
    height: 20vw;
    display: flex;
    align-items: center;
}

h1 {
    font-family: Bungee;
    color: #ffffff;
    margin: auto;
    font-size: 5.1vw;
}

.presentacion {
    background-color: rgb(234, 235, 236);
    padding: 4%;
    display: flex;
    width: 92%;
}


.presentacion p {
    width: 60%;
    padding-right: 2rem;
}

.presentacion img {
    width: 40%;
    max-height: 683px;
}

section h2 {
    font-size: 3.23vw;
    padding: 1rem 2rem 1rem 2rem;
}

.propuesta {
    width: 100%;
    margin: 0 auto;
}

.propcont {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-content: center;
    justify-content: center;
    padding: 0 2rem;
}

.propvalor {
    background-color: rgb(234, 235, 236);
    width: 25vw;
    min-width: 290px;
    aspect-ratio: 1.85 / 1;
    padding: 1em;
    font-size: 2vw;
}

aside {
    display: flex;
    padding: 2rem;
}

aside img {
    height: 7.2rem;
    padding-right: 1rem;
}

.recorrido {
    background-color: rgb(234, 235, 236);
}

.recorrido p {
    padding: 0 2rem 2rem 2rem;
}

.relevante p {
    padding: 0 2rem;
}

figure {
    padding: 1rem 2rem;
}

figcaption {
    font-size: 0.8rem;
}

table {
    border-spacing: 5px;
    table-layout: fixed;
}

thead>tr>:nth-child(n+2):nth-child(-n+4) { 
    width: 30%;
}

td, th {
    background-color: rgb(234, 235, 236);
    text-align: center;
    padding: 0.5rem;
}

#blank {
    opacity: 0;
}

.acciones {
    writing-mode: vertical-lr;
    rotate: 180deg;
    font-weight: bold;
}

footer {
    background-color: rgb(234,235,236);
}

footer p{
    color: rgb(74, 74, 74);
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
}